reportage {
  config {
    version 1
  }

  commands {
    command "sample" {
      exec "examples/shims/javascript/shim/sample"
    }
    command "sample-go" {
      exec "examples/shims/go/shim/sample"
    }
  }

  tests {
    path "examples/**/*.repor"
    path "editors/vscode/examples/*.repor"
  }
}

